.contact-me-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
}

.personal-image {
    align-self: center;
    height: 75%;
    width: 50%;
}

.more-information {
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 2rem 2rem 0;
    border: 1px solid;
}

.ending-sentence {
    margin-bottom: 2rem;
}

.my-email {
    text-align: center;
    margin-bottom: 1rem;
}

.additional-links {
    display: flex;
    justify-content: center;
}

.additional-links-icon {
    width: 6vmin;
    height: 6vmin;
}