.paper {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid transparent;
}

.paper-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.paper-summary {
    font-size: 1.2rem;
}

.paper:hover {
    border: 1px solid silver;
}