.creation-details {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem 0 1rem;
}

.creation-title {
    margin: 0 3rem 1rem 3rem;
}

.creation-details > p {
    font-size: 1.2rem;
    text-align: center;
}

.creation-github-link {
    margin: 2rem auto 1rem auto;
}

.creation-github-link > img {
    width: 3rem;
    height: 3rem;
}