body {
    margin: 0;
    font-family: "Avenir Next Ariel";
}

a {
    color: black;
    text-decoration: none;
}

.my-image {
    background-image: url("../../assets/images/welcome/welcome-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sentence, .my-name {
    text-align: center;
}

.sentence {
    font-size: 2em;
}

.my-name {
    font-size: 4em;
}
