body{
    margin: 0;
    font-family: "Avenir Next";
}
.my-image{
    /*background-image: url("https://scontent.ftlv1-1.fna.fbcdn.net/v/t1.0-9/20476297_10212598889181528_356426753430549447_n.jpg?_nc_cat=101&oh=f332ca9371778b63580e92b490901c41&oe=5C190A3D");*/
    height: 100vh;
    display: flex;
    justify-content: center;
}
.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sentence, .my-name{
    text-align: center;
}
.sentence{
    font-size: 2em;
}
.my-name{
    font-size: 4em;
}
