.portfolio-grid {
    display: flex;
    /*border-style: solid;*/
}

.creation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.creation > span {
    text-align: center;
    font-size: 2rem;
}

.more-portfolio {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem auto 0;
    display: flex;
    flex-direction: column;
}

.more-portfolio-icon >img{
    margin-top: 0.5rem;
    height: 50px;
    width: 50px;
    object-fit: contain;
}

@media only screen and (min-width: 961px) {
    .portfolio-grid {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .creation {
        width: calc(33.3% - 1rem);
        margin-right: 1rem;
    }

    .creation:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 960px) {
    .portfolio-grid {
        flex-direction: column;
    }

    .creation {
        width: 100%;
        margin: 1rem auto;
    }
}