body {
    background-color: #f7f9fb;
}

.page-container {
    margin: 2rem auto 0;
    padding: 0 1rem;
    min-height: 100vh;
    max-width: 63rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.website-header {
    font-size: 15px;
    font-style: oblique;
    font-family: "freight-sans-pro", serif;
    color: #454545;
    margin: 2rem auto;
}

.lined-title {
    margin: 2rem auto;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
}

.lined-title span {
    background: #f7f9fb;
    padding: 0 10px;
}

.page-separator{
    margin-top: 4rem;
    margin-bottom: 4rem
}