body{
    background-color: #f7f9fb;
}
.page-container {
    margin: 0 auto;
    min-height: 100vh;
    width: 63rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.website-title {
    margin-top: 2rem;
    font-size: 4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    text-transform: uppercase;
}

.menu {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: flex;
    justify-content: space-evenly;
}

.menu > span {
    text-transform: uppercase;
}

.menu > span:hover {
    color: #a5b1c2;
}

.content {
    height: 100%;
}

.website-header {
    font-size: 15px;
    font-style: oblique;
    font-family: "freight-sans-pro", serif;
    color: #454545;
    margin: 2rem auto;
}