.papers-container {
}

.paper-container + .paper-container {
    margin-top: 2rem;
}

.paper-container-right {
    margin-left: auto;
}

.paper-right-border-circle {
    border-radius: 0 2em 2em 0;
}

.paper-left-border-circle {
    border-radius: 2em 0 0 2em;
}

.more-papers {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
}

.more-papers-icon > img {
    margin-top: 0.5rem;
    height: 50px;
    width: 50px;
}